<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.palladiosimulator.pcm.dataprocessing.dynamicextension.ensemblesgeneration.commands.category"
            name="Transform Category">
      </category>
      <command
            categoryId="org.palladiosimulator.pcm.dataprocessing.dynamicextension.ensemblesgeneration.commands.category"
            name="Transform Command"
            id="org.palladiosimulator.pcm.dataprocessing.dynamicextension.ensemblesgeneration.commands.transformCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.palladiosimulator.pcm.dataprocessing.dynamicextension.ensemblesgeneration.handlers.MainHandler"
            commandId="org.palladiosimulator.pcm.dataprocessing.dynamicextension.ensemblesgeneration.commands.transformCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.palladiosimulator.pcm.dataprocessing.dynamicextension.ensemblesgeneration.commands.transformCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.palladiosimulator.pcm.dataprocessing.dynamicextension.ensemblesgeneration.menus.transformMenu"
               label="Transform Menu"
               mnemonic="M">
            <command
                  commandId="org.palladiosimulator.pcm.dataprocessing.dynamicextension.ensemblesgeneration.commands.transformCommand"
                  id="org.palladiosimulator.pcm.dataprocessing.dynamicextension.ensemblesgeneration.menus.transformCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.palladiosimulator.pcm.dataprocessing.dynamicextension.ensemblesgeneration.toolbars.transformToolbar">
            <command
                  id="org.palladiosimulator.pcm.dataprocessing.dynamicextension.ensemblesgeneration.toolbars.transformCommand"
                  commandId="org.palladiosimulator.pcm.dataprocessing.dynamicextension.ensemblesgeneration.commands.transformCommand"
                  icon="icons/sample.png"
                  tooltip="Transform XACML policy set files (intermediate model) instance 2 an Ensmeble system instance">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.palladiosimulator.pcm.dataprocessing.dynamicextension.ensemblesgeneration.handlers.PreferencesHandler"
            id="org.palladiosimulator.pcm.dataprocessing.dynamicextension.ensemblesgeneration.prefs"
            name="Preferences of XACML-2-Ensembles transformation">
      </page>
   </extension>

</plugin>
